.elementor-137 .elementor-element.elementor-element-33b4137e:not(.elementor-motion-effects-element-type-background), .elementor-137 .elementor-element.elementor-element-33b4137e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-137 .elementor-element.elementor-element-33b4137e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 9999;
}

.elementor-137 .elementor-element.elementor-element-33b4137e > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-137 .elementor-element.elementor-element-33b4137e.jet-sticky-section-sticky--stuck.jet-sticky-transition-in, .elementor-137 .elementor-element.elementor-element-33b4137e.jet-sticky-section-sticky--stuck.jet-sticky-transition-out {
    transition: margin 0.8s, padding 0.8s, background 0.8s, box-shadow 0.8s;
}

.elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-142226ef.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-142226ef.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-5953c131 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-5953c131 > .elementor-container {
    max-width: 500px;
}

.elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-137 .elementor-element.elementor-element-106dcca1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-137 .elementor-element.elementor-element-106dcca1 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-137 .elementor-element.elementor-element-106dcca1 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-137 .elementor-element.elementor-element-67001efb > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-137 .elementor-element.elementor-element-67001efb {
    z-index: 0;
}

.elementor-137 .elementor-element.elementor-element-67001efb img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    border-radius: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-7aad5209.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-7aad5209.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-7aad5209.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-137 .elementor-element.elementor-element-7aad5209 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-137 .elementor-element.elementor-element-2c3f299b > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-137 .elementor-element.elementor-element-2c3f299b {
    z-index: 0;
    --e-nav-menu-horizontal-menu-item-margin: calc(30px / 2);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-menu-toggle {
    margin-left: auto;
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-ec20b32-font-family), Sans-serif;
    font-weight: var(--e-global-typography-ec20b32-font-weight);
    text-transform: var(--e-global-typography-ec20b32-text-transform);
    font-style: var(--e-global-typography-ec20b32-font-style);
    line-height: var(--e-global-typography-ec20b32-line-height);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main .elementor-item:hover,
.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var(--e-global-color-3585963);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown a, .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown {
    background-color: var(--e-global-color-text);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown a:hover,
.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-primary);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: var(--e-global-color-primary);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown .elementor-item, .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-ec20b32-font-family), Sans-serif;
    font-weight: var(--e-global-typography-ec20b32-font-weight);
    text-transform: var(--e-global-typography-ec20b32-text-transform);
    font-style: var(--e-global-typography-ec20b32-font-style);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b div.elementor-menu-toggle:hover {
    color: var(--e-global-color-primary);
}

.elementor-137 .elementor-element.elementor-element-2c3f299b div.elementor-menu-toggle:hover svg {
    fill: var(--e-global-color-primary);
}

.elementor-137 .elementor-element.elementor-element-7567fe32.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-137 .elementor-element.elementor-element-7567fe32 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-137 .elementor-element.elementor-element-23185f64 .elementor-button {
    background-color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-22f17db-font-family), Sans-serif;
    font-size: var(--e-global-typography-22f17db-font-size);
    font-weight: var(--e-global-typography-22f17db-font-weight);
    text-transform: var(--e-global-typography-22f17db-text-transform);
    line-height: var(--e-global-typography-22f17db-line-height);
    border-radius: 5px 5px 5px 5px;
    padding: 15px 20px 15px 20px;
}

.elementor-137 .elementor-element.elementor-element-23185f64 .elementor-button:hover, .elementor-137 .elementor-element.elementor-element-23185f64 .elementor-button:focus {
    background-color: #20202000;
    color: var(--e-global-color-primary);
}

.elementor-137 .elementor-element.elementor-element-23185f64 > .elementor-widget-container {
    margin: 15px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-137 .elementor-element.elementor-element-23185f64 .elementor-button:hover svg, .elementor-137 .elementor-element.elementor-element-23185f64 .elementor-button:focus svg {
    fill: var(--e-global-color-primary);
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before, .elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1024px) {
    .elementor-137 .elementor-element.elementor-element-142226ef > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-142226ef > .elementor-element-populated {
        margin: 0px 0px 0px 20px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 20px;
    }

    .elementor-137 .elementor-element.elementor-element-5953c131 > .elementor-container {
        max-width: 500px;
    }

    .elementor-137 .elementor-element.elementor-element-5953c131 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column > .elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-67001efb > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-137 .elementor-element.elementor-element-67001efb img {
        width: 100%;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b {
        width: auto;
        max-width: auto;
        --e-nav-menu-horizontal-menu-item-margin: calc(20px / 2);
        --nav-menu-icon-size: 30px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b > .elementor-widget-container {
        margin: 30px 20px 30px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu .elementor-item {
        line-height: var(--e-global-typography-ec20b32-line-height);
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main .elementor-item {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
        margin-bottom: 20px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown a {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 65px !important;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-menu-toggle {
        border-width: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-23185f64 .elementor-button {
        font-size: var(--e-global-typography-22f17db-font-size);
        line-height: var(--e-global-typography-22f17db-line-height);
    }
}

@media (min-width: 768px) {
    .elementor-137 .elementor-element.elementor-element-142226ef {
        width: 20%;
    }

    .elementor-137 .elementor-element.elementor-element-7aad5209 {
        width: 65%;
    }

    .elementor-137 .elementor-element.elementor-element-7567fe32 {
        width: 14.663%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-137 .elementor-element.elementor-element-142226ef {
        width: 30%;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1 {
        width: 17%;
    }

    .elementor-137 .elementor-element.elementor-element-7aad5209 {
        width: 70%;
    }
}

@media (max-width: 767px) {
    .elementor-137 .elementor-element.elementor-element-33b4137e {
        padding: 15px 0px 15px 0px;
    }

    .elementor-137 .elementor-element.elementor-element-142226ef {
        width: 50%;
    }

    .elementor-137 .elementor-element.elementor-element-142226ef > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-142226ef > .elementor-element-populated {
        margin: 0px 0px 0px 20px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 20px;
    }

    .elementor-137 .elementor-element.elementor-element-5953c131 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1 {
        width: 25%;
    }

    .elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1.elementor-column > .elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-137 .elementor-element.elementor-element-106dcca1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-67001efb {
        width: auto;
        max-width: auto;
        text-align: left;
    }

    .elementor-137 .elementor-element.elementor-element-67001efb img {
        max-width: 85%;
    }

    .elementor-137 .elementor-element.elementor-element-7aad5209 {
        width: 50%;
        z-index: 999;
    }

    .elementor-137 .elementor-element.elementor-element-7aad5209.elementor-column > .elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b {
        width: auto;
        max-width: auto;
        z-index: 99;
        --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
        --nav-menu-icon-size: 20px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b > .elementor-widget-container {
        margin: 0px 10px 0px 0px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu .elementor-item {
        line-height: var(--e-global-typography-ec20b32-line-height);
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main .elementor-item {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
        margin-bottom: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--dropdown a {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 16px !important;
    }

    .elementor-137 .elementor-element.elementor-element-2c3f299b .elementor-menu-toggle {
        border-width: 0px;
        border-radius: 0px;
    }

    .elementor-137 .elementor-element.elementor-element-23185f64 .elementor-button {
        font-size: var(--e-global-typography-22f17db-font-size);
        line-height: var(--e-global-typography-22f17db-line-height);
    }
}